.navigationArea{
    position: fixed;
    top: 2px;
    width:100%;
    height:46px;
    background-color:thistle;
    margin: 0 auto;
    text-align: center;
}

.head{
    width:1000px;
    display: inline-block;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    font-weight: bolder;
}

ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    width:250px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:16px;
    padding-top: 13px;
    padding-bottom: 12px;
    text-decoration: none;
}


li a:hover {
    background-color:rgb(33, 25, 87);
}